@import "reset.css";

.header {

    width: 100vw;
    height: 100vh;
    background-image: url("img/Rectangle\ 56.svg");
    background-size:cover;
    position: relative;
    
}
.main{
    width: 90vw;
    max-width: 1200px;
    margin: auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
    width: 90vw;
    max-width: 1200px;
    height: 100px;
    margin: auto;
    position: sticky;
    top: 0;
}
.nav .logo {
    color: var(--text-color);
    font-size: 3.5rem;
}
.nav .logo::first-letter {
    color: var(--text-color_blue)
}
.nav .nav--items {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}
.nav .nav--item {
    color: var(--text-color);
    font-size: 2.5rem;
}
.nav--item.active {
    font-weight: 700;
}
.hello {
    font-size: 28rem;
    color: rgba(57, 62, 70, 0.50);;
    position: absolute;
    top: 10px;
    left: 10%;
    font-weight: bold;
}
.hero{
    width: 90vw;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 200px;
}
/* .title{
display: flex;
flex-direction: column;
} */
.title h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.title p {
    font-size: 1.6rem;
    padding: 20 0px;
    
}
.title p::before{
    position: absolute;
    content: '';
    width: 192px;
    border: 4px solid red;
} 