@import url(./typography.css);
@import url(./main-colors.css);

.sidenav {
    display: flex;
    background-color: var(--light-black);
    justify-content: space-between;
    position: sticky;
    top: 1rem;
}

.sidenav .logo-img {
    display: flex;
    height: 6rem;
    margin-left: 2rem;
    
    justify-self: flex-start;
}

.sidenav ul {
    display: flex;
    width: 60%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    font-size: 2rem;
    list-style: none;
    font-weight: 400;
}

.nav-btn {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: 100px;
    text-decoration: none;
}

.nav-btn a {

    text-decoration: none;
    color: var(--light-gray);
    padding: 1rem;
}

.nav-btn:hover {
    background: linear-gradient(85deg, #8126ff, #7cefff);
    font-weight: 600;
    color: #8126ff;
    border-radius: 2rem;

}
.nav-btn:hover a{
    color: var(--dark-black);
}


@media (max-width: 800px) {
   
}