.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    
}

.hero-section__about {
    border: 2px solid black;
}

.hero-section__pic img {
    width: 200px;
    border-radius: 300px;
}