.nav-bar {
    display: flex;
    position: sticky;
    background-color: #082032;
    background-image: linear-gradient(to top, #082032, #334756ab);
    box-shadow: 0 .2rem rem #000000bb;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    height: 4rem;
}

.nav-bar .logo {
    height: 1.3rem;
    margin-left: 2rem;

}

.nav-btn {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.nav-btn li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 2px;

}

.nav-btn a,
a:link {
    color: #fff;
    text-decoration: none;


}

.nav-btn a:hover,
a:active {
    color: #FF4C29;

}

.nav-social {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 11rem;
}

.nav-social li {
    list-style: none;
}

.nav-social img {
    height: 1.3rem;
}