*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
 
}
section{
    padding: 10rem 8%
}
:root {
    --bg-color: #232931;
    --second-bg-color: #393E46;
    --text-color: #fff;
    --main-color: #38E54D;
}