*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color)
}

:root {
    --bg-color: #041C32;
    --second-bg-color: #064663;
    --text-color: #fff;
    --main-color: #C6DE41;
}